<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Repos -->
    <preference for="Praxigento\BonusBase\Repo\Entity\IRank"
                type="Praxigento\BonusBase\Repo\Entity\Def\Rank"/>
    <preference for="Praxigento\BonusBase\Repo\Entity\Type\ICalc"
                type="Praxigento\BonusBase\Repo\Entity\Type\Def\Calc"/>
    <preference for="Praxigento\BonusBase\Lib\Repo\IModule"
                type="Praxigento\BonusBase\Lib\Repo\Def\Module"/>

    <!-- Services -->
    <preference for="Praxigento\BonusBase\Lib\Service\ICompress"
                type="Praxigento\BonusBase\Lib\Service\Compress\Call"/>
    <preference for="Praxigento\BonusBase\Lib\Service\IPeriod"
                type="Praxigento\BonusBase\Lib\Service\Period\Call"/>

    <!-- Tools -->
    <preference for="Praxigento\BonusBase\Lib\Tool\IQualifyUser"
                type="Praxigento\BonusBase\Lib\Tool\Def\QualifyUser"/>

</config>
