<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">

    <!-- Repos -->
    <preference for="Praxigento\BonusBase\Repo\Entity\IRank"
                type="Praxigento\BonusBase\Repo\Entity\Def\Rank"/>
    <preference for="Praxigento\BonusBase\Repo\Entity\Type\ICalc"
                type="Praxigento\BonusBase\Repo\Entity\Type\Def\Calc"/>
    <preference for="Praxigento\Bonus\Base\Lib\Repo\IModule"
                type="Praxigento\Bonus\Base\Lib\Repo\Def\Module"/>

    <!-- Services -->
    <preference for="Praxigento\Bonus\Base\Lib\Service\ICompress"
                type="Praxigento\Bonus\Base\Lib\Service\Compress\Call"/>
    <preference for="Praxigento\Bonus\Base\Lib\Service\IPeriod"
                type="Praxigento\Bonus\Base\Lib\Service\Period\Call"/>

    <!-- Tools -->
    <preference for="Praxigento\Bonus\Base\Lib\Tool\IQualifyUser"
                type="Praxigento\Bonus\Base\Lib\Tool\Def\QualifyUser"/>

</config>
