<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">

    <preference for="Praxigento\Bonus\Base\Lib\Service\IPeriod"
                type="Praxigento\Bonus\Base\Lib\Service\Period\Call"/>
    <preference for="Praxigento\Bonus\Base\Lib\Service\ITypeCalc"
                type="Praxigento\Bonus\Base\Lib\Service\Type\Calc\Call"/>

</config>
