<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- ******* -->
    <!-- Helpers -->
    <!-- ******* -->
    <preference for="Praxigento\BonusBase\Helper\IRank"
            type="Praxigento\BonusBase\Helper\Rank"/>


    <!-- **** -->
    <!-- Repo -->
    <!-- **** -->
    <preference for="Praxigento\BonusBase\Repo\Service\IModule"
            type="Praxigento\BonusBase\Repo\Service\Def\Module"/>

    <!-- ******** -->
    <!-- Services -->
    <!-- ******** -->
    <preference for="Praxigento\BonusBase\Service\ICompress"
            type="Praxigento\BonusBase\Service\Compress\Call"/>
    <preference for="Praxigento\BonusBase\Service\IPeriod"
                type="Praxigento\BonusBase\Service\Period\Call"/>
    <preference for="Praxigento\BonusBase\Service\Period\Calc\IAdd"
                type="Praxigento\BonusBase\Service\Period\Calc\Add"/>
    <preference for="Praxigento\BonusBase\Service\Period\Calc\Get\IBasis"
                type="Praxigento\BonusBase\Service\Period\Calc\Get\Basis"/>
    <preference for="Praxigento\BonusBase\Service\Period\Calc\Get\IDependent"
                type="Praxigento\BonusBase\Service\Period\Calc\Get\DependentOld"/>
    <preference for="Praxigento\BonusBase\Api\Service\Period\Calc\Get\All"
                type="Praxigento\BonusBase\Service\Period\Calc\Get\All"/>
    <preference for="Praxigento\BonusBase\Api\Service\Period\Calc\Get\Dependent"
                type="Praxigento\BonusBase\Service\Period\Calc\Get\Dependent"/>

    <!-- ***** -->
    <!-- Tools -->
    <!-- ***** -->
    <preference for="Praxigento\BonusBase\Tool\IQualifyUser"
            type="Praxigento\BonusBase\Tool\Def\QualifyUser"/>

</config>
